<div class="container-fluid">
    <h4>Code Analysis</h4>
    <br>
    <div class="container-fluid br">
        <div class="row">
            <div class="css3input col-xs-6">
                <input name="tool" [ngModel]="CodeAnalysis.tool" readonly>
                <label>Code Analysis Tool</label>
            </div>
            <div class="css3input col-xs-6">
                <input name="platform_tool" [ngModel]="CodeAnalysis.platform_tool" readonly>
                <label>Tool Instance</label>
            </div>
        </div><br>
        <div class="row">
            <div class="css3input col-xs-6">
                <input name="coverage_framework" [ngModel]="CodeAnalysis.coverage_framework" readonly>
                <label>Coverage Framework</label>
            </div>
            <div class="css3input col-xs-6">
                <input name="code_analysis_project_url" [ngModel]="CodeAnalysis.code_analysis_project_url" readonly>
                <label>Project Url</label>
            </div>
        </div>
    </div>
</div>