<!--<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <canvas baseChart height="267" width="403" [datasets]="Chart7Data" [labels]="Chart7Labels" [options]="Chart7Options" [colors]="Chart7Colors" [legend]="Chart7Legend" [chartType]="Chart7Type">
        </canvas>
    </div>
</div>-->
<div>
    <canvas baseChart height="200" width="230" [datasets]="Chart7Data" [labels]="Chart7Labels" [options]="Chart7Options" [colors]="Chart7Colors"
        [legend]="Chart7Legend" [chartType]="Chart7Type">
    </canvas>
</div>