canvas {
    width: 100% !important;
    height: 4vw !important;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(0, 191, 165, 0.25098039215686274);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}