<div class="container">
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div>  
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
    <div class="template-group1" (click)="clearProject()" [routerLink]="['/onboarding']" role="group" aria-label="...">
        <div class="templateClass"><img class="templateImg" src="app/resources/images/templates/blankTemplate.png" /></div>
        <div class="templateLabel"><span class="templateLabelSpan">Blank Template</span></div>   
        <!-- <button class="css3btn1 css3btn-body1">Blank Template</button> -->
    </div> 
</div>