.template-group1{
    padding: 40px;
    float: left;
    text-align: center;
}

.templateImg{
    height: 200px;
    width: 200px;
}

.templateLabelSpan{
    font-size: 16px; 
    font-weight: bolder;
}