<!--<div id="ALM">
    <div class="row">
        <div class="nav nav-tabs col-lg-2" style="padding-right: 0px;">
            <h2>ALM</h2>
            <div class="row pad tabArrow titleTab"><a class="active" data-toggle="tab">Source Control</a></div>
            <div class="row pad next"><a data-toggle="tab">Planning</a></div>
            <div class="row pad next"><a data-toggle="tab">Development</a></div>
            <div class="row pad next"><a data-toggle="tab">Testing</a></div>
            <div class="row pad next"><a data-toggle="tab">Code Analysis</a></div>
            <div class="row pad next"><a data-toggle="tab">Binary Repository</a></div>
            <div class="row pad next"><a data-toggle="tab">Continuous Integration</a></div>
            <div class="row pad next"><a data-toggle="tab">Deployment</a></div>
            <div class="row pad next"><a data-toggle="tab">Release</a></div>
        </div>
        <div id="tabwa" class="tab-content col-lg-10">
            <div class="tab-pane active" id="SourceControl">
                <sourceControl #sourceControl></sourceControl>
            </div>
            <div class="tab-pane next" id="Planning">
                <planning #planning></planning>
            </div>
            <div class="tab-pane next" id="Build">
                <build #build></build>
            </div>
            <div class="tab-pane next" id="Testing">
                <testing #testing></testing>
            </div>
            <div class="tab-pane next" id="CodeAnalysis">
                <codeAnalysis #codeAnalysis></codeAnalysis>
            </div>
            <div class="tab-pane next" id="BinaryRepository">
                <binaryRepository #binaryRepository></binaryRepository>
            </div>
            <div class="tab-pane next" id="ContinuousIntegration">
                <continuousIntegration #continuousIntegration></continuousIntegration>
            </div>
            <div class="tab-pane next" id="Deployment">
                <deployment #deployment></deployment>
            </div>
            <div class="tab-pane next" id="Release">
                <release #release></release>
            </div>
        </div>
    </div>
</div>-->
<div id="ALM">
    <div>
        <div class="tab-content">
            <div class="tab-pane active" id="Planning">
                <planning #planning></planning>
            </div>
            <div class="tab-pane next" id="SourceControl">
                <sourceControl #sourceControl></sourceControl>
            </div>
            <div class="tab-pane next" id="Build">
                <build #build></build>
            </div>
            <div class="tab-pane next" id="Testing">
                <testing #testing></testing>
            </div>
            <div class="tab-pane next" id="CodeAnalysis">
                <codeAnalysis #codeAnalysis></codeAnalysis>
            </div>
            <div class="tab-pane next" id="BinaryRepository">
                <binaryRepository #binaryRepository></binaryRepository>
            </div>
            <div class="tab-pane next" id="ContinuousIntegration">
                <continuousIntegration #continuousIntegration></continuousIntegration>
            </div>
            <div class="tab-pane next" id="Deployment">
                <deployment #deployment></deployment>
            </div>
            <!--<div class="tab-pane next" id="Release">
                <release #release></release>
            </div>-->
        </div>
    </div>
    <div class="navbar navbar-default bottom-nav">
        <ul class="nav navbar-nav">
            <li class="ALMTools active"><a class="active">Planning</a></li>
            <!--href="#Planning" data-toggle="tab"-->
            <li class="ALMTools next"><a>Source Control</a></li>
            <!--href="#SourceControl" data-toggle="tab"-->
            <li class="ALMTools next"><a>Development</a></li>
            <!--href="#Build" data-toggle="tab"-->
            <li class="ALMTools next"><a>Testing</a></li>
            <!--href="#Testing" data-toggle="tab"-->
            <li class="ALMTools next"><a>Code Analysis</a></li>
            <!--href="#CodeAnalysis" data-toggle="tab"-->
            <li class="ALMTools next"><a>Binary Repository</a></li>
            <!--href="#BinaryRepository" data-toggle="tab"-->
            <li class="ALMTools next"><a>Continuous Integration</a></li>
            <!--href="#ContinuousIntegration" data-toggle="tab"-->
            <li class="ALMTools next"><a>Deployment</a></li>
            <!--href="#Deployment" data-toggle="tab"-->
            <!--<li class="ALMTools next"><a>Release</a></li>-->
            <!--href="#Release" data-toggle="tab"-->
        </ul>
    </div>
</div>