canvas {
    width: 100% !important;
    height: 4vw !important;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(192, 121, 220, 0.32);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}