<div class="container-fluid">
    <h4>Release</h4>
    <br>
    <div class="container-fluid br">
        <div class="row">
            <div class="css3input col-xs-6">               
                <input name="repo_name" [ngModel]="Release.tool"  readonly>
                <label>Release Tool</label>
            </div>
            <div class="css3input col-xs-6">
                <input name="repo_name" [ngModel]="Release.platform_tool"  readonly>
                <label>Tool Instance</label>
            </div>
        </div>
    </div>
</div>