<!--<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <canvas baseChart height="267" width="403" [datasets]="Chart6Data" [labels]="Chart6Labels" [options]="Chart6Options" [colors]="Chart6Colors" [legend]="Chart6Legend" [chartType]="Chart6Type">
        </canvas>
    </div>
</div>-->

        <canvas baseChart  height="200" width="230" [datasets]="Chart6Data" [labels]="Chart6Labels" [options]="Chart6Options" [colors]="Chart6Colors" [legend]="Chart6Legend" [chartType]="Chart6Type">
        </canvas>
