<!--<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <canvas baseChart height="267" width="403" [datasets]="Chart4Data" [labels]="Chart4Labels" [options]="Chart4Options" [colors]="Chart4Colors" [legend]="Chart4Legend" [chartType]="Chart4Type">
        </canvas>
    </div>
</div>-->

        <canvas baseChart   height="200" width="230" [datasets]="Chart4Data" [labels]="Chart4Labels" [options]="Chart4Options" [colors]="Chart4Colors" [legend]="Chart4Legend" [chartType]="Chart4Type">
        </canvas>