<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h3 class="settingsHead">Portal Settings</h3>
        </div>
    </div><br>
    <div id="SettingsTab">
        <div class="navbar navbar-default top-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a class="active" href="#ALMTools" data-toggle="tab">ALM Tools</a></li>
                <li><a href="#General" data-toggle="tab">General</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="General">
                <general></general>
            </div>
            <div class="tab-pane active" id="ALMTools">
                <almTools></almTools>
            </div>
        </div>
    </div>
</div>