<!-- <canvas baseChart height="100" width="260"
  [datasets]="versionChartData" 
  [labels]="versionChartLabels" 
  [options]="versionChartOptions"
  [legend]="versionChartLegend" 
  [chartType]="versionChartType" 
  [colors]="versionChartColors">
</canvas> -->
<div style="display: block" align="center">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" [colors]="filterchart1Colors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
</div>