canvas {
    width: 100% !important;
    height: 4vw !important;
    vertical-align: top;
    display: inline-block;
    background: rgba(121, 209, 220, 0.32) !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}