<div class="container-fluid">
    <h4>Planning</h4>
    <br>
    <div class="container-fluid br">
        <div class="row">
            <div class="css3input col-xs-6">
                <input name="tool" [ngModel]="Planning.tool"  readonly>
                <label>Planning Tool</label>
            </div>
            <div class="css3input col-xs-6">
                <input name="platform_tool" [ngModel]="Planning.platform_tool"  readonly>
                <label>Tool Instance</label>
            </div>
        </div><br>
        <div class="row">
            <div class="css3input col-xs-6">
                <input name="workflow_type" [ngModel]="Planning.workflow_type"  readonly>
                <label>Workflow Type</label>
            </div>
            <div class="css3input col-xs-6">
                <input name="planning_project_url" [ngModel]="Planning.planning_project_url"  readonly>
                <label>Project Url</label>
            </div>
        </div>
    </div>
</div>