<div id="UserManagementTabs" class="container-fluid sidenav">
    <div class="col-md-3 nav navbar-nav">
        <div class="nav sidebar-nav">
            <div class="tabArrow titleTab pad"><a class="active" href="#UserDirectories" data-toggle="tab">User Directories</a></div><br>
            <div class="pad"><a href="#Users" data-toggle="tab">Users</a></div><br>
            <div class="pad"><a href="#Roles" data-toggle="tab">Roles</a></div>
        </div>
    </div>

    <div class="col-md-9 tab-content">
       
        <!--UserDirectories-->
        <div class="tab-pane active" id="UserDirectories">
            <userDirectories></userDirectories>
        </div>

        <!--Users-->
        <div class="tab-pane" id="Users">
            <users></users>
        </div>

         <!--Roles-->
        <div class="tab-pane" id="Roles">
            <roles></roles>
        </div>

    </div>
</div>