<div id="AlmToolsTabs">
    <div class="sidenav">
        <div class="tab-content">
            <!--Roles-->
            <div class="tab-pane active" id="SourceControl">
                <sourceControl></sourceControl>
            </div>

            <!--Planning-->
            <div class="tab-pane" id="Planning">
                <planning></planning>
            </div>

            <!--CodeAnalysis-->
            <div class="tab-pane" id="CodeAnalysis">
                <codeAnalysis></codeAnalysis>
            </div>

            <!--BinaryRepository-->
            <div class="tab-pane" id="BinaryRepository">
                <binaryRepository></binaryRepository>
            </div>

            <!--ContinuousIntegration-->
            <div class="tab-pane" id="ContinuousIntegration">
                <continuousIntegration></continuousIntegration>
            </div>

            <!--Deployment-->
            <div class="tab-pane" id="Deployment">
                <deployment></deployment>
            </div>

            <!--Release-->
            <!--<div class="tab-pane" id="Release">
                <release></release>
            </div>-->
        </div>
    </div>
    <div class="navbar navbar-default bottom-nav">
        <ul class="nav navbar-nav">
            <li class="active"><a class="active" href="#SourceControl" data-toggle="tab">Source Control</a></li>
            <li><a href="#Planning" data-toggle="tab">Planning</a></li>
            <li><a href="#CodeAnalysis" data-toggle="tab">Code Analysis</a></li>
            <li><a href="#BinaryRepository" data-toggle="tab">Binary Repository</a></li>
            <li><a href="#ContinuousIntegration" data-toggle="tab">Continuous Integration</a></li>
            <li><a href="#Deployment" data-toggle="tab">Deployment</a></li>
            <!--<li><a href="#Release" data-toggle="tab">Release</a></li>-->
        </ul>
    </div>
</div>